# Python
__pycache__/
*.pyc
*.pyo
venv*/
.venv/
*.egg-info/

# Binaries
revsocks-server
revsocks-agent*
confgen

# IDE
.vscode/
.idea/

# Test / Cache
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db
